*{
    margin: 0;
}
.mainpage{
    top: 0;
    display: flex;
    
}
.leftsidebar{
    width: 40vh;
    height: 100vh;
    background: black;
    color: white;
}
.logoorlgado{
    height: 25vh;
}
.overview{
    height: 10vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.overview:hover{
     background: #1FCE9A;
    transition: 0.6s;
}
.Exams{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
      border-bottom: 1px solid white;
     cursor: pointer;
}
.Exams:hover{
    background: #1FCE9A;
    transition: 0.6s;
}
.Review{
     height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
      border-bottom: 1px solid white;
     cursor: pointer;
}
.Review:hover{
    background: #1FCE9A;
    transition: 0.6s;
}
.History{
     height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
      border-bottom: 1px solid white;
     cursor: pointer;
      
}
.History:hover{
    background: #1FCE9A;
    transition: 0.6s;
}
.rightsidebar{
      width: 100%;
    background: #D1E5F4;
}
.rightadjust{
    margin-left: 20vh;
}
.hellogillo{
    display: flex;
    flex-direction: row;
    height: 25vh;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
   
    align-items: center;
      gap: 25rem;
}
.time{
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.line{
    height:2px;
    background: rgb(170, 168, 168);
    margin-bottom: 4vh;
}
.subject{
    width: 100%;
    display: flex;
   
    height: 10vh;
    margin: 5vh 0vh;
    
}
.subject span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background: #153A62;
    color: white;
    cursor: pointer;
}
.subject span2{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: white;
    cursor: pointer;

}